
header{background-image:url('bandeau_sup.PNG');

background-repeat: no-repeat;}
form.search{;
position: absolute;
left: 900px; top: 110px;
}
input.search{background-color: antiquewhite;}


input.id, input.mdp,input.nom,input.prenom,input.sexe,input.mail, input.date_naissance, input.role {border:3px solid fuchsia;
border-radius: 25px;}

div.liste_activites{color: red;
background-color: ;}

table{border-collapse: collapse;
vertical-align: :top;
margin-right: 400px;
margin-left: 400px;
}



div.forum{margin-right: ;}


tr{}
td{ border:3px solid fuchsia;

background-color: greenyellow;
vertical-align: middle;
padding: 15px
text-align: center;

}

h1{ color:purple;
text-decoration: underline;
text-align: center;}


img{ margin-left: 75px;
margin-top: 5px;
border-radius: 25px;
border: 1px solid gold;


}