
header{background-image:url('bandeau_sup.PNG');
background-color: red;}
form.search{background-image:url('bandeau_sup.PNG');
position: absolute;
left: 800px; top: 50px;
}
input.search{background-color: antiquewhite;}


input.id, input.mdp{border:3px solid fuchsia;
border-radius: 25px;}

div.liste_activites{color: red;
background-color:grey ;}

table{border-collapse: collapse;
vertical-align: :top;
}






tr{}
td{ border:3px solid fuchsia;

background-color: greenyellow;
vertical-align: middle;
padding: 15px;

}

h1{ color:purple;
text-decoration: underline;
text-align: center;}