
header{background-image:url('image/bandeau_sup.PNG');
background-repeat: no-repeat;}

*{font-family:Georgia,Times New Roman,Times,serif;
	background-color: DarkGray;
}
.inscr{;
position: absolute;
left: 1100px; top: 156px;}


input.id, input.mdp,input.nom,input.prenom,input.sexe,input.mail, input.date_naissance, input.role {border:3px solid fuchsia;
border-radius: 25px;}

div.liste_activites{color: red;
background-color: ;}


.intro{border-collapse: collapse;
vertical-align: :top;
margin-right: 420px;
}

.titre{ color: MediumTurquoise;
	font-size: xx-large; font-weight:bold;
	background-color:transparent;
position: absolute;
left: 400px; top: 80px}


.logo{ margin-left: 75px;
margin-top: 5px;
border-radius: 25px;
border: 1px solid gold;
}

.imgsport{
border-radius: 25px;
border: 1px solid gold;
}

.act{border:3px solid fuchsia;}

